<div class="cus-hero single-feature">
    <div class="featured-item featured-primary accent-cbd d-flex justify-content-center">
        <div class="featured-wrapper">
            <div class="featured-information">
                <div class="featured-taxonomy">
                    <div class="featured-source">CBD</div>
                    <div class="featured-type">Event</div>
                </div>
                <div class="featured-description">Information about the Next UN Biodiversity Conference: Cali, Colombia.<br>October 21 - November 1</div>
            </div>
            <div class="featured-buttons d-flex container-fluid" role="group">
                <a href="#" class="btn cbd-btn cbd-btn-secondary btn-lg" role="button">COP 16 Website</a>
                <a href="#" class="btn cbd-btn cbd-btn-primary btn-lg" role="button">Submit Registrations</a>
            </div>
        </div>
    </div>
</div>